@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color: #e46d43;
  background-color: #252422;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: auto;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  padding: 2rem;
  max-width: 1440px;
}

@layer base {
  p {
    @apply text-lg
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-2xl leading-7;
  }
   
  .nav-link:hover span{
    visibility: visible;
    margin: auto;
  }
}


